<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cyb3rg0d.urlchecker" version="0.1.0" android-versionCode="1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Url Checker</name>
    <description>
        Allows you to quickly removing unnecessary bits from urls.
    </description>
    <author email="cyb3r-g0d@tuta.io" href="https://github.com/cyb3r-g0d">
        Cyb3r G0d
    </author>
    <preference name="AndroidXEnabled" value="true" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/img/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="www/img/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="www/img/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="www/img/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="www/img/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
