@import "font.css";

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html {
    margin: 0;
    height: 100%;
    overflow: hidden
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #4b4b4b;
    color: #f5f5f5;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width: 100%
}

.app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    height: 50%;
    text-align: center
}

.app h3 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase
}

.app .link {
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
    color: #0d8aee;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 5px
}

.app p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#noHttps {
    font-size: normal;
    color: #fff;
    display: none;
    text-align: center
}

#showPara {
    font-size: normal;
    color: #fff;
    text-align: center
}

#showPara a {
    color: #0d8aee;
    text-decoration: none;
    color: #fff
}

#noHttps a {
    color: #0d8aee;
    text-decoration: none
}

.warning {
    display: none;
    color: #D8000C;
    background-color: #FFBABA;
    text-align: center
}

.validation {
    border: 1px solid;
    margin: 10px auto;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    max-width: 460px
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.4);
    color: #000
}

.modal-content {
    background-color: #4b4b4b;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: 700
}

.close:focus,
.close:focus,
.close:active {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

input,
textarea {
    background: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6
}

input:focus,
textarea:focus {
    outline: none
}

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
    top: -14px;
    font-size: 12px;
    color: #0d8aee
}

input:focus~.bar:before,
textarea:focus~.bar:before {
    width: 100%
}

input[type="password"] {
    letter-spacing: .3em
}

label {
    color: #c6c6c6;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all
}

.bar {
    position: relative;
    display: block;
    width: 100%
}

.bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #0d8aee;
    transition: 300ms ease all;
    left: 0
}

.btn {
    background-repeat: no-repeat;
    background-position: -120px -120px, 0 0;
    background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 37%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0.0) 50%);
    background-image: -moz-linear-gradient(0 0, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 37%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0.0) 50%);
    background-image: -o-linear-gradient(0 0, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 37%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0.0) 50%);
    background-image: linear-gradient(0 0, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 37%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0.0) 50%);
    -moz-background-size: 250% 250%, 100% 100%;
    background-size: 250% 250%, 100% 100%;
    -webkit-transition: background-position 0 ease;
    -moz-transition: background-position 0 ease;
    -o-transition: background-position 0 ease;
    transition: background-position 0 ease;
    background: #fff;
    color: #959595;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    letter-spacing: .06em;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all .3s cubic-bezier(0.25, 0.8, 0.25, 1)
}

.btn:focus,
.btn:active {
    background-position: 0 0, 0 0;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    transition-duration: .5s;
    color: #8b8b8b;
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12)
}

.btn.btn-link {
    background: #0d8aee;
    color: #d3eafd
}

.btn.btn-link:focus,
.btn.btn-link:active {
    background: #90B7E4;
    color: #deeffd
}

.btn.btn-submit {
    background: #0d8aee;
    color: #bce0fb
}

.btn.btn-submit:focus,
.btn.btn-submit:active {
    background: #90B7E4;
    color: #deeffd
}

.btn.btn-cancel {
    background: #eee
}

.btn.btn-cancel:focus,
.btn.btn-cancel:active {
    background: #e1e1e1;
    color: #8b8b8b
}

.btn-box {
    text-align: center;
    margin: 50px 0
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background-image: linear-gradient(315deg, #000 0%, #414141 74%)
    }
}